.forgotpassword-wrapper {
    position: relative;
    width: 420px;
    height: 350px;
    background: rgba(139, 115, 85, 0.95);
    border-radius: 10px;
    color: white;
    box-shadow: 0 8px 32px rgba(62, 39, 35, 0.2);
}

.forgotpassword-wrapper .forgotpassword-form-box {
    width: 100%;
    padding: 40px;
}

form h1 {
    font-size: 36px;
    text-align: center;
}

form .forgotpassword-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0 30px;
   
}

.forgotpassword-input-box input {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    border: 2px solid rgba(201, 168, 130, 0.6);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.forgotpassword-input-box input::placeholder {
    color: #fff;
}

.forgotpassword-input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
}

form .forgot-password {
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.forgot-password a {
    color: #fff;
    text-decoration: none;

}

.forgot-password a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

form .register {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

form .label {
     margin: 20px 0 0;
}